.atc-testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: relative;
  .author-name {
    margin: 0px;
  }
  .content {
    margin-top: 0px;
  }
  .author-img {
    display: flex;
    justify-content: center;
    img {
      width: 200px;
      height: 150px;
      object-fit: cover;
    }
  }
  .company {
    margin: 0;
  }
  .swiper-button-prev, .swiper-button-next {
    background-image: none;
  }
  .swiper-button-prev:focus, .swiper-button-next:focus {
    outline: none;
  }
  .elementor-star-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

/**
  Rating Alignment
*/
.atc-star-rating--align-right {
  .elementor-star-rating {
    text-align: right;
    justify-content: flex-end !important;
  }
}
.atc-star-rating--align-left {
  .elementor-star-rating {
    text-align: left;
    justify-content: flex-start !important;
  }
}
.atc-star-rating--align-center {
  .elementor-star-rating {
    text-align: center;
    justify-content: center !important;
  }
}

/**
  Image Alignment
*/
.atc-image-align-right {
  text-align: right;
  justify-content: flex-end !important;
}
.atc-image-align-left {
    text-align: left;
    justify-content: flex-start !important;
}
.atc-image-align-center {
  text-align: center;
  justify-content: center !important;
}

/**
  Dafault layout
*/
.atc-testimonial-slider-default {
  &.swiper-autoheight {
    height: 370px;
  }
  .swiper-slide {
    font-size: 18px;
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    // margin-top: 30px;
  }
  // .author-img {
  //   img {
  //     // padding: 20px;
  //     width:300px; 
  //     height:300px;
  //     object-fit: cover;
  //   }
  // } 
  .author-name {
    margin: 0;
  }
  .description {
    flex: 4.6;
    padding-left: 30px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #007aff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

/**
  Top layout
*/
.atc-testimonial-slider-top {
  // margin-top: 20px;
  &.swiper-autoheight {
    height: 440px;
  }
  .swiper-slide {
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
  }
  .description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .content{
      margin-bottom: 20px;
    }
    .author-name {
      margin-bottom: 2px;
    }
    .elementor-star-rating {
      justify-content: center;
    }
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #007aff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

/**
  Bottom layout
*/
.atc-testimonial-slider-bottom {
  // margin-top: 50px;
  &.swiper-autoheight {
    height: 520px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
  }
  .description {
    text-align: center;
    .content {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .author-name {
      margin-bottom: 2px;
    }
    .company {
      margin-bottom: 0px;
    }
    .elementor-star-rating {
      justify-content: center;
    }
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

@media only screen and (max-width: 900px) {
/**
  Dafault layout
*/
  .atc-testimonial-slider-default { 
    &.swiper-autoheight {
      height: 618px;
    }
    .swiper-slide {
      padding: 0;
      flex-direction: column;
    }
    .description {
      text-align: center;
      padding: 0;
      .content {
        margin-top: 22px;
        margin-left: 50px;
        margin-right: 50px;
      }
      .author-name{
        font-size: 15px;
      }
      .company {
        font-size: 15px;
      }
    }
  } 
/**
  Top layout
*/
  .atc-testimonial-slider-top { 
    &.swiper-autoheight {
      height: 618px;
    }
  }
/**
  Bottom layout
*/
  .atc-testimonial-slider-bottom { 
    &.swiper-autoheight {
      height: 630px;
    }
  }
  //.atc-star-rating--align-center {
    .elementor-star-rating {
      text-align: center;
      justify-content: center !important;
    }
  //}
}
