.atc-testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: static;
  overflow: hidden;
  .swiper-wrapper {
    overflow: initial;
  }
  .swiper-slide {
    display: flex;
    font-size: 16px;
    padding: 40px 100px 40px 100px;
  }
  .author-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    &.atc-image-align- {
      align-self: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // position: relative;
    .content p {
      // margin: 0px;
      line-height: 1.5;
    }
    .author-name {
      margin: 0px;
    }
    .company {
      margin: 0;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    background-image: none;
  }
  .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 25px;
    color: #514C4C;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev:focus, .swiper-button-next:focus {
    outline: none;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

/**
  Quotation icon
*/ 
.atc-quotation-icon-wrapper {
  position: relative;
  z-index: -1;
  transform: translateX(-35px);
}
.atc-quotation-icon {
  display: inline-block;
  line-height: 1;
  transition: all .3s;
  color: #E9E9E9;
  font-size: 35px;
  text-align: center;
  position: absolute;
}
.atc-quotation-icon-view-stacked {
  .atc-quotation-icon {
    padding: 0.5em;
    background-color: #E9E9E9;
    color: #fff;
    fill: #fff;
  }
}
.atc-quotation-shape-circle {
  .atc-quotation-icon {
    border-radius: 50%;
  }
}
.atc-quotation-icon-view-framed {
  .atc-quotation-icon{
    padding: 0.5em;
    color: #E9E9E9;
    border: 3px solid #E9E9E9;
    background-color: transparent;
  }
} 

/**
  Rating
*/
.atc-star-rating {
  color: #ccd6df;
  font-family: eicons;
  display: flex;
  justify-content: center;
  i {
    position: relative;
    font-style: normal;
    cursor: default;
    &:before {
      content: "\e934";
      display: block;
      font-size: inherit;
      font-family: inherit;
      position: absolute;
      overflow: hidden;
      color: #f0ad4e;
      top: 0;
      left: 0;
    }
  }
  .atc-star-empty:before {
    content: none;
  }
  .atc-star-1:before {
    width: 10%;
  }
  
  .atc-star-2:before {
    width: 20%;
  }
  
  .atc-star-3:before {
    width: 30%;
  }
  
  .atc-star-4:before {
    width: 40%;
  }
  
  .atc-star-5:before {
    width: 50%;
  }
  
  .atc-star-6:before {
    width: 60%;
  }
  
  .atc-star-7:before {
    width: 70%;
  }
  
  .atc-star-8:before {
    width: 80%;
  }
  
  .atc-star-9:before {
    width: 90%;
  }
}

.atc-star-rating--align-right {
  .atc-star-rating {
    text-align: right;
    justify-content: flex-end !important;
  }
}
.atc-star-rating--align-left {
  .atc-star-rating {
    text-align: left;
    justify-content: flex-start !important;
  }
}
.atc-star-rating--align-center {
  .atc-star-rating {
    text-align: center;
    justify-content: center !important;
  }
}

/**
  Image Alignment
*/
.atc-image-align-right {
  align-self: flex-end;
}
.atc-image-align-left {
  align-self: flex-start;
}
.atc-image-align-center {
  align-self: center;
}

/**
  template-1
*/
.atc-testimonial-slider-template-1 {
  .author-name {
    margin: 0;
  }
  .description {
    text-align: left;
    flex: 4.6;
    padding-left: 50px;
  }
  .atc-quotation-icon {
    font-size: 27px;
  }
  .atc-star-rating {
    justify-content: flex-start; 
  }
}

/**
  template-2
*/
.atc-testimonial-slider-template-2 {
  .swiper-slide {
    flex-direction: column;
  }
  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    .author-name {
      margin-bottom: 2px;
    }
  }
}

/**
  template-3
*/
.atc-testimonial-slider-template-3 {
  &.atc-testimonial-container {
    padding: 50px 16px 50px 16px;
    overflow: hidden;
  }
  .swiper-slide {
    flex-direction: column-reverse;
  }
  .description {
    margin-bottom: 20px;
    // .content {
    //   margin-top: 0px;
    //   margin-bottom: 20px;
    // }
    .company {
      margin-bottom: 0px;
    }
  }
}

/**
  Template-4
*/
.atc-testimonial-slider-template-4 {
  .swiper-slide {
    flex-direction: column;
  }
  .description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .content {
      p {
        margin-top: 16px;
      }
    }
    .author-name {
      order: -1;
    }
    .company {
      order: -1;
    }
    .atc-star-rating {
      order: -1;
    }
  }
}

/**
  Template-5
*/
.atc-testimonial-slider-template-5 {
  &.atc-testimonial-container {
    padding: 70px 16px 70px 16px;
    overflow: hidden;
    .swiper-slide {
      flex-direction: column;
      background-color:#352E2E;
      border-radius: 60px 0px 60px 0px;
    }
    .author-img {
      margin-top: -91px;
      border-style: solid;
      border-width: 10px 10px 10px 10px;
      border-color: #FFFFFF;
      border-radius: 100% 100% 100% 100%;
      
    }
    .description {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .content {
        p {
          color: #fff;
          margin-top: 16px;
        }
      }
      .author-name {
        order: -1;
        color: #fff;
      }
      .company {
        order: -1;
        color: #fff;
      }
      .atc-star-rating {
        order: -1;
      }
    }
    .atc-quotation-icon-wrapper {
      transform: translateX(-26px);
      .atc-quotation-icon {
        top: 12px;
        font-size: 26px;
      }
    }
  }
}

/**
  template-6
*/

.atc-testimonial-slider-template-6 {
  &.atc-testimonial-container {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    // .swiper-slide {}
    .author-img {
      width: 80px;
      height: 80px;
    }
    .description {
      width: 87%;
      .content { 
        text-align: left;
        .atc-quotation-icon {
          font-size: 32px;
        }
      }
      .author-name {
        font-size: 18px;
        text-align: left;
      }
      .company {
        text-align: left;
      }
      .atc-star-rating {
        font-size: 12px;
        justify-content: flex-start;
        // order: -1;
      }
      .bio-information {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        gap: 12px;
      }
    }
    .swiper-button-next {
      right: 30px;
    }
    .swiper-button-prev {
      right: 105px;
      left: initial;
    }
    .swiper-button-next, .swiper-button-prev {
      top: 18%;
      background: #CCE5E9;
      width: 65px;
      border-radius: 49px;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      font-size: 18px;
      color: #514C4C;
    }
  }
}

@media only screen and (max-width: 900px) {
/**
  template-1
*/
  .atc-testimonial-slider-template-1,
  .atc-testimonial-slider-template-2,
  .atc-testimonial-slider-template-3,
  .atc-testimonial-slider-template-4, 
  .atc-testimonial-slider-template-5 { 
    &.atc-testimonial-container {
      .swiper-slide {
        width: 100% !important;
        padding: 40px 0px;
        // flex-direction: column;
      }
      .description {
        text-align: center;
        padding: 0;
        .content {
          margin-top: 22px;
          margin-left: 50px;
          margin-right: 50px;
        }
        .author-name {
          font-size: 15px;
        }
        .company {
          font-size: 15px;
        }
      }
      .author-img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .atc-testimonial-slider-template-6 {
    &.atc-testimonial-container {
      .swiper-slide {
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 0px;
      }
      .description {
        width: 100%;
        .content {
          p {
            margin: 0;
          }
        }
        .bio-information {
          .author-img {
            width: 80px;
            height: 80px;
          }
          .info {
            .author-name {
              font-size: 15px;
            }
            .company {
              font-size: 15px;
            }
          }
        }
      } 
     
      .swiper-button-next, .swiper-button-prev {
          top: 11%;
          width: 55px;
          height: 35px;
        &::after {
          font-size: 14px;
        }
      }
      .swiper-button-prev {
        right: 94px;
      } 
    }
  }
  .atc-star-rating {
    text-align: center;
    justify-content: center !important;
  }
}