.atc_license_box {
    background: #fff;
    max-width: 860px;
    margin: 50px auto;
    padding: 30px 45px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    text-align: center;     
    .title {
        text-align: center;       
    }
    .atc-input-group {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        .atc_input__inner {
            width: 100%;
            height: 40px !important;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .atc-input-group__append {
            background-color: #F5F7FA;
            color: #909399;
            vertical-align: middle;
            display: table-cell;
            position: relative;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            padding: 0 20px;
            width: 150px;
            white-space: nowrap;
            height: 40px;
            border-left: 0;
            a {
                text-decoration: none;
                &:focus {
                    box-shadow: none;
                }
            }
            .atc-button {
                position: absolute;
                transform: translate(10px, 8px);
                color: #909398;
            }
        }
    }
}

.atc-addons-wrapper {
    * {
        box-sizing: border-box;
    }
    .atc-addons-heading {
        text-align: center;
        padding: 30px;
    }

    .atc-addons-wrap {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
        gap: 30px;
        .atc-addons-templates {
            width: calc(33% - 30px);
            background: white;
            padding: 30px;
            border-radius: 10px;
            border: solid rgba(221, 221, 221, 0.8666666667);
            text-align: center;
            .addons-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                p {
                    padding-bottom: 20px;
                }
                .image {
                    border: solid rgba(221, 221, 221, 0.8666666667);
                    width: 80px;
                    height: 80px;
                    padding: 10px;
                    border-radius: 5px;
                    img {
                        width: 100%;
                        margin: 0;
                        max-width: 100%;
                        padding: 0;
                        border-radius: 3px;
                        object-fit: cover;
                        height: 100%;
                    }
                }
                .btn-box {
                    display: flex;
                    gap: 17px;
                    .installAddon {
                        display: inline-block;
                        line-height: 1;
                        white-space: nowrap;
                        cursor: pointer;
                        background: #67c23a;
                        border: 1px solid #67c23a;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        margin: 0;
                        transition: .1s;
                        font-weight: 500;
                        padding: 12px 20px;
                        font-size: 14px;
                        border-radius: 4px;
                        text-decoration: none;
                    }
                    .viewInstall {
                        display: inline-block;
                        line-height: 1;
                        white-space: nowrap;
                        cursor: pointer;
                        background: #FFF;
                        border: 1px solid #DCDFE6;
                        color: #606266;
                        text-align: center;
                        box-sizing: border-box;
                        margin: 0;
                        transition: .1s;
                        font-weight: 500;
                        padding: 12px 20px;
                        font-size: 14px;
                        border-radius: 4px;
                        text-decoration: none;
                        &:hover {
                            color: #409EFF;
                            border-color: #c6e2ff;
                            background-color: #ecf5ff;
                        }
                    }
                    .upgrade-to-pro {
                        display: inline-block;
                        line-height: 1;
                        white-space: nowrap;
                        cursor: pointer;
                        background: #FFF;
                        border: 1px solid #356ae6;
                        color: #356ae6;
                        text-align: center;
                        box-sizing: border-box;
                        margin: 0;
                        transition: .1s;
                        font-weight: 500;
                        padding: 12px 20px;
                        font-size: 14px;
                        border-radius: 4px;
                        text-decoration: none;
                        &:hover {
                            color: #ffff;
                            border-color: #356ae6;
                            background-color: #356ae6;
                        }
                    }
                }
            }
        }
    }
    
}

.atc-settings-tabs{
    .menu-tabs {
        display: flex;
        gap: 14px;
        .tab {
            font-size: 14px;
            a {
                position: relative;
                text-decoration: none;
                &:focus{
                    box-shadow: none;
                }
            }
            + .tab { 
                a {
                    &::before {
                        content: "";
                        width: 1px;
                        height: 13px;
                        position: absolute;
                        background: #999;
                        left: -8px;
                        top: 2px;
                    }
                }

            }
        }
    }
}

#tab-atc-settings {
    margin-bottom: 150px;
    &.elementor-active ~ p.submit {
        display: none;
    }
}

#is_atcReviewNotice {
    .notice-dismiss {
        text-decoration: none;
    }
}